/* $green: #064705 */
/* $red: #f00 */
@import "poker-field.css";
@import "chips.css";

html, body {
    background-color: #064705;
}

.control-panel {
    display: flex;
}

.control-panel__roulette {
    padding: 15px;
}

.number-list, .chips-list {
    display: flex;
    list-style: none;
}

.number-list li, .chips-list li {

}