/* $green: #064705 */
/* $red: #f00 */
@import "poker-field.css";
@import "chips.css";
@import "numbers.css";

html, body {
    background-color: #064705;
}

.control-panel {
    display: flex;
    color: #fff;
    font-size: 18px;
}

.control-panel__roulette {
    padding: 15px;
}

.control-panel__tools {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.number-list, .chips-list {
    display: flex;
    list-style: none;
}

.chips-list .chips {
    margin-right: 5px;
}